@model MyBlog.Domain.CodeFirst.PublicationEntities.Article

@{
    ViewBag.Title = "Корзина";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section right_sidebar_style{
    <link href="@Url.Content("~/Areas/Admin/Content/Styles/AdminIndex.css")" rel="stylesheet" type="text/css" />
}
@section single_column{
<h3>Вы уверены, что хотите безвозвратно удалить эту статью?</h3>
@using (Html.BeginForm("DropPublication", "Home"))
{
    @Html.AntiForgeryToken()
    <p>
        @Html.HiddenFor(x => x.Id)
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Назад к списку", "Index", null, new { @class = "link" })
    </p>
}
<fieldset>
    <legend><b>@Html.DisplayFor(model => model.ArticleTitle)</b></legend>
    <div class="display-field">
        @Html.Raw(Model.ArticleText)
    </div>
</fieldset>

}