@model MyBlog.WebUI.Models.Users

@{
    ViewBag.Title = "Редактировать пользователя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section right_sidebar_style{
    <link href="@Url.Content("~/Areas/Admin/Content/Styles/AdminIndex.css")" rel="stylesheet" type="text/css" />
}
@section single_column{
<h2>Редактировать пользователя</h2>

@using (Html.BeginForm("EditUser", "Users"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Пользователь</legend>

        @Html.HiddenFor(model => model.UserId)

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад к списку", "UsersManage", null, new { @class = "link" })
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
