@model MyBlog.WebUI.Models.LocalPasswordModel
@{
    ViewBag.Title = "Настройки аккаунта";
}
@section right_sidebar_style{
    <link href="@Url.Content("~/Content/Styles/RegisterLogin.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Styles/Validation.css")" rel="stylesheet" type="text/css" />
}
@section single_column{
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Вы зашли под именем <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}
    }
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
